$color-day: #eee;
$height-day: 100px;
$width-day: 100px;
$border-day: 1px solid black;
$font-family: Arial, Helvetica, sans-serif;
$font-size: 30px;
$color-rosa: #ffbfcb;
$tamanho:  (7 * $width-day) + (6 * 1) + 2 * 10;


